<!DOCTYPE html>
<html>
<head>
	<title>Ejs form</title>
</head>
<body>

	<form>
		<label for="name">name</label>
		<input type="text" name="name">
		<label for="firstName">first name</label>
		<input type="text" name="firstName">
		<label for="userId">user Id</label>
		<input type="number" name="userId">
		<label for="password">password</label>
		<input type="text" name="password">
		<input type="submit" formaction="http://localhost:8888/users/signup" formmethod="POST" name="submit">
	</form>

	<form>
		<label for="userId">user Id</label>
		<input type="number" name="userId">
		<label for="password">password</label>
		<input type="text" name="password">
		<input type="submit" formaction="http://localhost:8888/users/signin" formmethod="POST" name="submit">
	</form>

</body>
</html>